.browse_container {
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  padding: 1rem 2rem;
}
.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 200px 120px 150px;
  grid-gap: 1rem;
  justify-content: center;
}
.profile_container {
  background-color: #5746ea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
}
.profile_details_wrapper p {
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 14px;
}
.profile_details_wrapper h2 {
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  font-size: 25px;
  margin-top: 7px;
}
.notes_container {
  background-color: #f1c75b;
  grid-column: 2;
  grid-row: 1 / span 2;
  border-radius: 18px;
  color: #000000;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}
.notes_container h1 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 10px;
}
.weather_container {
  background-color: #101744;
  grid-column: 1;
  grid-row: 2;
}
.timer_container {
  background-color: #1e2343;
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  grid-row: 3;
  justify-content: center;
}
.timer {
  display: flex;
}
/* .timerCircle{
  box-shadow: rgb(95, 88, 88, 0.23) 0px 5px 15px;
} */
.profileIMg {
  width: 80px;
}
.selectedGenre_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 220px;
  height: 62px;
}
.display_scroll {
  overflow-y: scroll;
}
.genre_browse_btn {
  padding: 0.3rem 1.5rem;
  background-color: #9f94ff;
  border-radius: 18px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.6px;
  font-weight: 400;
}
.timerImg {
  width: 150px;
}
.weather_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
.dateTime_wrapper {
  display: flex;
  background-color: #ff4ade;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
.weather_wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.weatherImg {
  width: 35px;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-right: 1px solid #ffffff;
  padding-right: 15px;
}
.manual_timer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.temp_press {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-right: 1px solid #ffffff;
  padding-right: 15px;
}
.temp_press h2 {
  font-weight: 200;
}
.press_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.press_wrapper p {
  font-size: 12px;
}
.wind_humidity_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wind_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wind_wrapper p {
  font-size: 12px;
}
.humidity_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.humidity_wrapper p {
  font-size: 12px;
}
.timer_text_wrapper {
  display: flex;
  gap: 3rem;
}
.timer_text_wrapper p {
  color: #949494;
  font-size: 14px;
}
.increment_wrapper {
  display: flex;
  gap: 4.7rem;
}
.time_wrapper {
  display: flex;
  /* gap: 0.5rem; */
  justify-content: center;
  align-items: center;
}
.time_wrapper p {
  width: 2em; 
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 200;
}
.decrement_wrapper {
  display: flex;
  gap: 4.7rem;
}
.increment_wrapper img, .decrement_wrapper img {
  width: 23px;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.startTimer_btn {
  background-color: #ff6a6a;
  padding: 0.3rem 6.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.browseBtn {
  float: right;
  background-color: #148a08;
  padding: 0.3rem 2rem;
  border: none;
  outline: none;
  border-radius: 11px;
  color: #ffffff;
  margin-right: 2rem;
  margin-top: 0.6rem;
  letter-spacing: 0.6px;
  cursor: pointer;
}
.notes_here {
  resize: none;
  height: 250px;
  width: 300px;
  border: none;
  outline: none;
  background-color: #f1c75b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-right: 40px;
  overflow-y: auto;
}
.news_container {
  background-color: #000000;
  position: relative;
  grid-column: 3;
  grid-row: 1;
  border-radius: 20px;
}
.newsImg {
  width: 100%;
  height: 160%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.date_time_news_wrapper {
  display: flex;
  gap: 10px;
}
.news_heading {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  top: 11.6rem;
  height: 24vh;
}
.news_heading h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 18px;
}
.news_date {
  padding-right: 5px;
  border-right: 1px solid white;
}
.news_para {
  background-color: #ffffff;
  height: 180px;
  min-height: 180px;
  position: absolute;
  top: 320px;
  color: #272727;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #c6c1c1;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a7a7;
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8989;
}
.notes_here::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.notes_here::-webkit-scrollbar-track {
  background: #c6c1c1;
  border-radius: 4px;
}
/* Handle */
.notes_here::-webkit-scrollbar-thumb {
  background: #f4d587;
  border-radius: 4px;
}
/* Handle on hover */
.notes_here::-webkit-scrollbar-thumb:hover {
  background: #ffe6a6;
}
