* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}
.form_container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 102vh;
}
.signUp_container {
  display: flex;
}
.bgImg {
  width: 50vw;
  max-width: 100%;
  height: 102vh;
}
.bg_text_wrapper {
  position: absolute;
  bottom: 55px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 38px;
  left: 25px;
}
.form_title {
  font-family: "Single Day", cursive;
  color: #72db73;
  font-size: 40px;
  margin-bottom: 8px;
}
.form_heading {
  font-family: "DM Sans", sans-serif;
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 12px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 430px;
  height: 35px;
  min-height: 35px;
  background-color: #292929;
  border: none;
  outline: none;
  border-radius: 4px;
  padding-left: 10px;
  color: #ffffff;
}
.errorInput{
  border: 1px solid rgb(191, 31, 31) !important;
}
input {
  margin-top: 12px;
  font-family: "DM Sans", sans-serif;
}
input::placeholder {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.terms_label {
  color: #7c7c7c;
  font-size: 14px;
  margin-left: 8px;
}
input[type="checkbox"] {
  margin: 0;
}
.terms_checklist {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 425px;
}
.signUp_Btn {
  width: 430px;
  height: 35px;
  min-height: 35px;
  background-color: #72db73;
  border-radius: 28px;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 15px;
  text-transform: uppercase;
}
.signUp_Btn:hover {
  background-color: #68cf6a;
  cursor: pointer;
}
.terms_condi {
  color: #7c7c7c;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 420px;
  margin-top: 10px;
  letter-spacing: 0.35px;
}
.terms_active {
  color: #72db73;
  margin-left: 5px;
  border-bottom: 1px solid black;
  transition: border-color 0.5s ease;
}
.terms_active:hover{
  border-color: #72db73;
  cursor: pointer;
  color: #68cf6a;
}
label{
  color: rgb(216, 30, 30);
  font-size: 13px;
}
